
body {
  font-family: 'Akshar', sans-serif;
  color: #5a656e;
}

a {
  color: #7c30d4;
  text-decoration: none;
}

a:hover {
  color: #8431b4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Akshar', sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background: #6130d4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: rgb(22, 3, 3);
  line-height: 0;
}
.back-to-top:hover {
  background: #3a43c0;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
#header .logo h1 {
  font-size: 26px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #2c4964;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 60px;
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #5f29aa;
}


#hero {
  width: 100%;
  height: 50rem;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: rgb(12, 11, 11);
}
#hero h2 {
  color: rgb(18, 17, 17);
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
#hero h3 {
  color: rgb(18, 17, 17);
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

section {
  padding: 60px 0;
}

.section-bg {
  background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  color: #345676;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #1f1a1c;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
}

.about .content {
  padding: 30px 0;
}
.about .content h3 {
  font-weight: 500;
  font-size: 34px;
  color: #2c4964;
}
.about .content p {
  margin-bottom: 0;
  text-align: justify;
  
}
.about .content .count-box {
  padding: 20px 0;
  width: 100%;
}
.about .image {
  background: url("../img/me.jpg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
  border-radius: 8px;
  
}

@media (max-width: 991px) {
  .about .image {
    text-align: center;
  }
  .about .image img {
    max-width: 80%;
  }
}
@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #2c4964;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #e8e7ed;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #ada2c6;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4b7dab;
 
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #222032;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #2c4964;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4ebf3;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #2d246d;
}

.services .icon-box {
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}
.services .icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: ease-in-out 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: #4633c8;
  height: 100%;
  border-radius: 0px;
}
.services .icon {
  margin: 0 auto 30px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #262b4f;
  transition: all 0.3s ease-in-out;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #472b72;
}
@media (max-width: 768px) {
  .services .icon-box::before {
    bottom: 60%;
  }
}


.portfolio .portfolio-item {
  margin-bottom: 30px;
  
}

.portfolio {
  text-align: justify;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  color: #3c6387;
}

.contact .info {
  color: #343535;
  
}
.form-group {
  text-align: left;
}
.contact button[type=submit] {
  background: #081b5b;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
    
}
.contact button[type=submit]:hover {
  background: #a45add;
}


#footer {
  background: #fff;
  padding: 24px 0;
  font-size: 14px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}
#footer .copyright {
  text-align: center;
}

@media (max-width: 950px) {
}